
html{

}
#header-div{
	background: #f0f0f0;
}
#main-header{
	width: 100%;
	margin-bottom: 40px;
}
.login-body {
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100%;
    min-width: 1000px;
}

.login-body::after{
	min-height: 100%;
	margin: 0;
	padding: 0;
	content: "";
	background: url(resources/hosp.jpg);
	background-attachment: fixed;
	background-size: cover;
	opacity: .7;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -5;
}
.patient-info-body{
	background: url(resources/hosp.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 1;
	min-height: 100%;	
}

div.form-holder {
    background: rgba(240,240,240,0.9);
    margin-top: 0;
    border-radius: 3px;
}

.form-head {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: gray;
    margin: 15px auto 30px auto;
}
#update-button{
	z-index: 10;
}

#patient-profile-container{
	min-height: 800px;
	background: #f0f0f0;
}
#patients-container{
	min-height: 800px;
	background: #f1f1f1;
}

#bottom-container{
	background: #f0f0f0;
}
#caseNo, #doc{
	opacity: 1;
	font-weight: bold;
	font-size: 14px;
}
.description{
	width: 400px;
}

.item{
	position:relative;
}
div.content a{
        position: absolute;
        width: 65%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none;
        z-index: 1;
}
.bill-info{
	min-height: 450px;
}
.top-options{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}
div.top-options a{
	margin: 10px;
	
}
#user-login, #pass-login{
	width: 80%;
}
#btn-login{
	margin:0 auto;
	width: 30%;
}
#upload-label{
	margin-left: 20%;
}

